* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(140deg, #38c9e2, #7b1888, #661429);
    padding: 10px;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #ec2291;
    font-weight: 700;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    text-align: right;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #5aa3d4;
    /* color: linear-gradient(135deg, #851b6a, #375d9b); */
    font-weight: 600;
}

.btn {
    background-color: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background-color: #001e4d;
    color: #fff;
    font-weight: 600;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 15px auto 0;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 15px;
    display: none;
}

#next-btn:hover {
    background-color: orange;
    color: #001e4d;
}

.Correct {
    background: #9aeabc;
}

.INCORRECT {
    background: #ff9393;
}